<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  <link rel="stylesheet" href="/css/styles.css">
	<title>Covid-19 Chatbot</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 25px;">
		<a class="navbar-brand" href="#"><strong><a href="/" style="color:white">CovidBot</a></strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent" >
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/chatbot">Covid Chatbot <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/tracker">Covid Tracker</a>
			</li>
			
		</div >
	  </nav>
	  <div style="margin: 15px">
	  	
	<h1>Covid-19 Chatbot to raise COVID-19 Awareness</h1>
	<p>The chatbot offers a wide range of information related to the COVID-19 pandemic in an easy-to-use conversational manner. This includes information about the coronavirus, its symptoms, and how it is transmitted; preventive measures that can be taken as a safeguard against the virus; health & travel advisories; and official government helplines for further information/helpdesk. It also provides links to additional resources for those who wish to learn more about the disease.</p>
	<h2>Features Of Our Covid-19 Chatbot</h2>
	<ul>Google trans library for Hindi to English and English to Hindi translation</ul>
	<ul>Pysymspell library for word sense disambiguation and sentence correction</ul>
	<ul>Semantic and statistic similarity for question answering system</ul>
	<ul>Bert and lstm for Intent Classification of question asked by user</ul>
	<ul>Flask as backend and HTML, CSS, Bootstrap and Javascript for frontent part of website</ul>
	<ul>Python Speech To Text library for Speech Recognition in our chatbot</ul>
	  </div>

</body>
</html>